<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Hi Penne!</a></h1>
        </header>
        {% for post in posts %}
            {{ post }}
        {% endfor %}
        <article>
            <h2>Alternative text</h2>

            <p>The alt attribute should reflect the image content, so users who cannot see the image get an understanding of what the image contains:</p>

            <img src="C:\Personal\Family\anu\sanu.jpg" alt="Flowers in Chania" width="460" height="345">


        </article>


    </body>
</html>